  <!--li><a href="/public/portal/ClientInfoContact/index.html">联系方式</a></li>
  <li><a href="/public/portal/ClientinfoAddress/index.html" target=_blank>收货地址</a></li>

<li><a href="/public/portal/Clientwallet/index.html" target=_blank>钱包</a></li>



  <li><a href="/public/portal/Wallettrade/deposit/amount/10.001/csum/1/moneytp/8.html" target=_blank>收入10块</a></li>


    <li><a href="/public/portal/Wallettrade/pay/amount/1.001/csum/1/moneytp/8.html" target=_blank>支出1块</a></li>


		    <li><a href="/public/portal/ProSort/index/prosortid/2.html" target=_blank>产品列表</a></li>

			
 <li><a href="/public/portal/ProSort/newie/prosortid/2.html" target=_blank>新手产品</a></li>

 <li><a href="/public/portal/OrderInfo/index_newie.html" target=_blank>新手产品列表</a></li-->




<div class="menu_dropdown bk_2">
            <dl>
        <dt><i class="Hui-iconfont"></i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
        <dd>
            <ul>
                                    <li><a _href="/public/portal/pub/profile.html" data-title="实名" href="javascript:;" data-nav=" 系统管理 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 实名">实名</a></li> 
									
									 <li><a _href="/public/portal/pub/leader.html" data-title="申请团长" href="javascript:;" data-nav=" 系统管理 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 申请团长">申请团长</a></li> 

									  <li><a _href="/public/portal/groupinfo/creategroup.html" data-title="新建团队" href="javascript:;" data-nav=" 系统管理 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 新建团队">新建团队</a></li>

									   <li><a _href="/public/portal/groupinfo/joingroup.html" data-title="加入团队" href="javascript:;" data-nav=" 系统管理 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 加入团队">加入团队</a></li>


									    <li><a _href="/public/portal/groupinfo/mygroup.html" data-title="我的团队" href="javascript:;" data-nav=" 系统管理 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 我的团队">我的团队</a></li>
			</ul>
        </dd>
    </dl>
    <dl>
        <dt class="selected"><i class="Hui-iconfont"></i> 新手区<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
        <dd style="display: block;">
            <ul>
                         <li><a _href="/public/portal/ProSort/newie/prosortid/2.html" data-title="帐户管理" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">任务管理</a></li> 
						
						<li><a _href="/public/portal/OrderInfo/index_newie" data-title="我的任务" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的任务</a></li>	
						<li><a _href="/public/portal/OrderInfo/index_newiebypro" data-title="我的任务" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的任务</a></li>	
			
						 <li><a _href="/public/portal/ProSort/newiegroup/prosortid/2.html" data-title="新手组合" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">新手组合</a></li>
						 
			
						
						<li><a _href="/public/portal/OrderInfo/index_newiegroup" data-title="我的组合" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的组合</a></li>		
						 
									
				</ul>
        </dd>
    </dl>
	  <dl>
        <dt class="selected"><i class="Hui-iconfont"></i> 会员区<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
        <dd style="display: block;">
            <ul>
                         <li><a _href="/public/portal/ProSort/advtask/prosortid/35.html" data-title="帐户管理" href="javascript:;" data-nav=" 会员区 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">任务区</a></li> 
									
									
						<li><a _href="/public/portal/OrderInfo/index_advancedtask" data-title="我的任务" href="javascript:;" data-nav=" 会员区 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的任务</a></li>	
						

						<li><a _href="/public/portal/OrderInfo/index_advancedtaskbypro" data-title="我的任务" href="javascript:;" data-nav=" 会员区 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的任务</a></li>	



						 <li><a _href="/public/portal/ProSort/advancedgroup/prosortid/34.html" data-title="会员组合" href="javascript:;" data-nav=" 会员组合 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 会员区">组合区</a></li>

						<li><a _href="/public/portal/OrderInfo/index_advanced" data-title="我的组合" href="javascript:;" data-nav=" 会员区 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">我的组合</a></li>				
									
									
				</ul>
        </dd>
    </dl>
<!--dl>
        <dt class="selected"><i class="Hui-iconfont"></i> 高级区<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
        <dd style="display: block;">
            <ul>
                         <li><a _href="/public/desktop/client_passport/index.html" data-title="帐户管理" href="javascript:;" data-nav=" 新手 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 任务管理">任务管理</a></li> 
									
									
									
									
									
				</ul>
        </dd>
</dl-->


<dl>
        <dt class="selected"><i class="Hui-iconfont"></i> 资产区<i class="Hui-iconfont menu_dropdown-arrow"></i></dt>
        <dd style="display: block;">
            <ul>
                         <li><a _href="/public/portal/Clientwallet/index.html" data-title="资产管理" href="javascript:;" data-nav=" 钱包 <span class=&quot;c-gray en&quot;>&amp;gt;</span> 资产管理">钱包</a></li> 
									
									
									
									
									
				</ul>
        </dd>
    </dl>
    </div>