{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
      <input type="hidden" name="id" value="{$vo.id ?? ''}">
    {if isset($fid)}
	  <input type="hidden" name="fid" value="{$fid ?? ''}">
	  {else}
	   <input type="hidden" name="fid" value="{$vo.fid ?? ''}">
     {/if}

		<div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red"></span>联系方式：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="{$vo.title ?? ''}"   placeholder="联系方式" name="title" nullmsg="请填写联系方式" errormsg="联系方式">
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		  <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>联系方式类型：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="tp" id="tp-0" value="0">
                    <label for="tp-0">固定电话</label>
                </div>

				<div class="radio-box">
                    <input type="radio" name="tp" id="tp-1" value="1" datatype="*"  checked>
                    <label for="tp-1">手机</label>
                </div>
               
				 <div class="radio-box">
                    <input type="radio" name="tp" id="tp-2" value="2">
                    <label for="tp-2">QQ</label>
                </div>
				 <div class="radio-box">
                    <input type="radio" name="tp" id="tp-4" value="4">
                    <label for="tp-4">电邮</label>
                </div>
				<div class="radio-box">
                    <input type="radio" name="tp" id="tp-3" value="3">
                    <label for="tp-3">其它</label>
                </div>

            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		
		   <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>重要性：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="importance" id="importance-1" value="1" datatype="*" checked>
                    <label for="importance-1">常用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="importance" id="importance-0" value="0">
                    <label for="importance-0">备用</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		<input type="hidden" name="status"  value="1" >
	      

		 <div class="row c1">
            <label class="form-label col-xs-3 col-sm-3"><span class="c-red"></span>备注：</label>
            <div class="formControls col-xs-6 col-sm-6">
                 <textarea class="textarea" placeholder="" name="remark" onKeyUp="textarealength(this,100)">{$vo.remark ?? ''}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>

            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
		
	
	

   

        
		<div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>

    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $("[name='tp'][value='{$vo.tp ?? '1'}']").attr("checked",true);
		 $("[name='importance'][value='{$vo.importance ?? '1'}']").attr("checked",true);
		

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype:2,
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}