{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <div class="row cl"><ul>
			<li>订单号{$orderinfo.id}</li>
			<li>{$orderinfo.title}</li>
			<li>{$orderinfo.substatus}</li>
			<li>{$orderinfo.totalamount}</li>
			<li>{$orderinfo.status}</li>
			<li>{$orderinfo.create_time}</li>
			
			
        </ul>
					




        </div><hr>
	 <div class="row cl">
			{volist name="orderdetailinfo" id="vo"}
					<ul>
						<li>{$vo.id}
						
						</li>
						<li>{$vo.proid}</li>
						<li>{$vo.protitle}</li>
						<li>{$vo.price}</li>
						<li>{$vo.newprice}</li>
						<li>{$vo.quan}</li>
						<li>{$vo.title}</li>
						
						<li>当前日期：{$arrdate.year}-{$arrdate.mon}-{$arrdate.mday}
						<li>订单日期：{$orderinfo.create_time}</li>
					
				
						<table>
						<tr>
							<td>
						<ul>
						{if $arrdate.mon eq 1}
							{for start="1" end="32"  step="1" }
							
							
							
							<a class="btn " href="javascript:;" onclick="layer_open('提取收益','{:\\think\\Url::build('Orderinfo/extractionadvancedgroup',['proid'=>$vo.proid,'orderid'=>$orderinfo.id,'dy'=>$arrdate.year-1,'dm'=>1,'dd'=>$i])}')">{$arrdate.year-1}-1-{$i}</a>
							
							</li>
						
							{/for}
						</ul>
						{else}

					
						<ul>
						
							{for start="1" end="32"  step="1" }
							
							
							<li>
							
							<a class="btn " href="javascript:;" onclick="layer_open('提取收益','{:\\think\\Url::build('Orderinfo/extractionadvancedgroup',['proid'=>$vo.proid,'orderid'=>$orderinfo.id,'dy'=>$arrdate.year,'dm'=>$arrdate.mon-1,'dd'=>$i])}')">{$arrdate.year}-{$arrdate.mon-1}-{$i} </a>
							
							</li>

							
							{/for}
						</ul>



						{/if}
						<hr></td>
							<td>	<ul>

						{for start="1" end="32"  step="1" }
							
							<li>
							
							<a class="btn " href="javascript:;" onclick="layer_open('提取收益','{:\\think\\Url::build('Orderinfo/extractionadvancedgroup',['proid'=>$vo.proid,'orderid'=>$orderinfo.id,'dy'=>$arrdate.year,'dm'=>$arrdate.mon,'dd'=>$i])}')">{$arrdate.year}-{$arrdate.mon}-{$i}</a>
							
							</li>
						
						{/for}
						</ul>
						<hr></td>
						<td valign=top>
							<ul>
							{volist name="moneyrecord" id="moneyr"}
									
								<li>{$moneyr.dy}-{$moneyr.dm}-{$moneyr.dd}提取{$moneyr.price}</li>
							{/volist}
							</ul>
						
						
						</td>
						</tr>
						</table>


						
						</li>
					</ul>
					<hr>
			 {/volist}
	 </div>

    </form>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $("#form").Validform({
            tiptype:2,
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                ajax_progress(ret);
            }
        });
		 

    })
</script>
{/block}