
<td>{$vo.id}</td>
<td>{$vo.create_time}</td>
<td>{$vo.protitle}</td>
<td>{$vo.quan}</td>


<td>{$vo.winstatus|get_win_status}</td>
<td>{$vo.depositstatus|get_deposit_status}</td>



<td>
{if $vo.winstatus eq 1}
	{if $vo.depositstatus eq 0}
	
	
		<a class="btn " href="javascript:;" onclick="layer_open('提取收益','{:\\think\\Url::build('Orderinfo/extractionadvancedypro',['proid'=>$vo.proid,'orderid'=>$vo.id])}')">提取{$vo.totalrenvue}收益 </a>
		{else}
			赚了{$vo.totalrenvue}			
	{/if}


	


{/if}


</td>